.cover__title {
  margin: 0 0 16px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  max-width: 50%;
  z-index: 2;
}

@media screen and (max-width: 984px) {
  .cover__title {
    font-size: 52px;
  }
}

@media screen and (max-width: 750px) {
  .cover__title {
    font-size: 48px;
  }
}

@media screen and (max-width: 670px) {
  .cover__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 568px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 75%;
  }
}
